/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}
ul {
    list-style: none;
}
button,
input,
select,
textarea {
    margin: 0;
}
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
img,
embed,
iframe,
object,
video {
    height: auto;
    max-width: 100%;
}
audio {
    max-width: 100%;
}
iframe {
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
    text-align: left;
}

/* ------------------------  Basics */

html,
body {
    width: 100%;
    height: 100%;
    background-color: transparent;
}
button:focus {
    outline: 0;
}

/* ------------------------  Visibility */

.clear {
    clear: both;
}
.invisible {
    display: none;
    visibility: hidden;
}
.hid {
    display: none;
}
.shown {
    display: block;
}

/* ------------------------  Menu */

.menu-li {
    list-style: none;
}
.menu-li {
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}
.menu-li:hover {
    cursor: pointer;
}
.menu-dropdown-ul {
    background-color: rgba(250, 250, 250, .5);
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0;
    display: none;
    min-width: 9rem;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    top: 64px;
}
.menu-li:hover > ul, .menu-dropdown-ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}
.menu-dropdown-ul li {
    padding: 6% 6%;
}

/* ------------------------  Selection */

.selected {
    -webkit-box-shadow: #000 0px 0px 40px 1px inset;
    -moz-box-shadow: #000 0px 0px 40px 1px inset;
    box-shadow: #000 0px 0px 40px 1px inset;
    /* #22c000 */
}
.selected .corner-icon {
    background-color: rgba(40, 40, 40, 1);
}
.selected .corner-icon .dsi {
    color: #96ff80;
    /* #96ff80; */
}

/* These two make clickable objects avoid selection artifacts */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noselect:focus {
    outline: none;
}

/* ------------------------  Placement */

.top {
    top: 0px;
}
.bottom {
    bottom: 0px;
}
.left {
    left: 0px;
}
.right {
    right: 0px;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
.middle {
    /* for lining up horizontal icons and text */
    vertical-align: middle;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

/* ------------------------  x y centering  */

.xycenter, .text-center {
    text-align: center;
}
.xycenter::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.xycentered {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.icon-vcenter {
    -ms-transform: translate(0, 15%);
    -moz-transform: translate(0, 15%);
    -webkit-transform: translate(0, 15%);
    transform: translate(0, 15%);
    display: inline-block;
}

/* ------------------------  Shape and sizing */

.iblock {
    display: inline-block;
}
.block {
    display: block;
}
.abs {
    position: absolute;
}
.rel {
    position: relative;
}
.fixed {
    position: fixed;
}
.stretchx {
    width: 100%;
}
.stretchy {
    height: 100%;
}
.columns-3 {
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
}
.square {
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* = width for a 1:1 aspect ratio */
    margin: 1.66%;
}
.square-inside {
    position: absolute;
    height: 100%;
    /* = 100% - 2*5% padding */
    width: 100%;
    /* = 100% - 2*5% padding */
    padding: 0%;
}
.tblock {
    display: table;
    width: 100%;
    height: 100%;
}
.tcell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* ------------------------  Text and sizing  */

.text-0000 {
    font-size: 60%;
}
.text-000 {
    font-size: 70%;
}
.text-00, figcaption {
    font-size: 80%;
}
.text-0 {
    font-size: 90%;
}
.text {
    font-size: 100%;
    line-height: 100%;
}
.text0 {
    font-size: 120%;
    line-height: 140%;
}
.text00 {
    font-size: 140%;
    line-height: 160%;
}
.text000 {
    font-size: 160%;
    line-height: 180%;
}
.text0000 {
    font-size: 200%;
    line-height: 240%;
}
@media (max-width: 900px) {
    .text-0000 {
        font-size: 50%;
    }
    .text-000 {
        font-size: 60%;
    }
    .text-00, figcaption {
        font-size: 70%;
    }
    .text-0 {
        font-size: 80%;
    }
    .text, html {
        font-size: 90%;
    }
    .text0 {
        font-size: 100%;
    }
    .text00 {
        font-size: 120%;
    }
    .text000 {
        font-size: 150%;
    }
    .text0000 {
        font-size: 190%;
    }
}
@media (max-width: 460px) {
    .text000 {
        font-size: 140%;
    }
    .text0000 {
        font-size: 160%;
    }
}
.thin {
    font-weight: 100;
}
.light {
    font-weight: 300;
}
.regular {
    font-weight: 400;
}
.medium {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}
.black {
    font-weight: 900;
}
.caps {
    text-transform: uppercase;
}
a .pad {
    padding: 3%;
}
p {
    margin-bottom: 1em;
}

/* ------------------------  Colors  */

footer a {
    color: rgba(255, 255, 255, 1);
}
.link {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    padding-bottom: 3px;
}
.link:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px dotted #999;
    position: absolute;
    bottom: 0;
    left: 0;
}
.link-highlight {
	transition: 0.5s ease all;
}
.link-highlight:hover {
	transform:
      perspective(900px)
      rotateY(14deg)
      translateY(-16px)
      rotateX(-4deg);
}
:root {
    --color-white: #fff;
    --color-black: #000;
    --color-yellow: #ffff00;
}
.white, .white a {
    color: var(--color-white);
}
.white a:hover {
	color: var(--color-yellow);
    text-decoration: underline;
    text-decoration-color: var(--color-yellow);
}
.black {
    color: var(--color-black);
}
.faded {
    opacity: .5;
}
.blackback {
    background-color: rgba(0,0,0,.7);
}
.blur {
    filter: url('/images/blur.svg#blur');
    filter: blur(20px);
    -webkit-filter: blur(20px);
}

/* ------------------------  Cards  */

figure {
    box-shadow: 1px 1px 60px 0px rgba(0,0,0,0.15);
    border-radius: 8px;
}
figure img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
figcaption {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
figcaption {
    background-color: rgba(255, 255, 255, .3);
    padding: 4% 0;
    font-weight: 600;
    text-align: center;
    backdrop-filter: blur(10px);
}
.clip-outside {
    overflow: hidden;
    position: relative;
}
.pill {
    color: var(--color-black);
    background-color: var(--color-white);
    padding: 0 3%;
    border-radius: 999px;
}

/* Padding sizes */

.pad-top-50 {
    padding-top: 50px;
}
.pad-top-75 {
    padding-top: 75px;
}
.pad-top-20 {
    padding-top: 20px;
}
.pad-bottom-20 {
    padding-bottom: 20px;
}
.pad-left-50 {
    padding-left: 50px;
}
.pad-right-50 {
    padding-right: 50px;
}
.pad-left-20 {
    padding-left: 20px;
}
@media (max-width: 992px) {
    .pad-top-50 {
        padding-top: 25px;
    }
    .pad-top-75 {
        padding-top: 35px;
    }
}
.pad-90 {
    padding: 0px 2%;
}
.inset-90 {
    width: 90%;
}
.carousel-text-item {
    width: 90%;
    padding: 0% 10%;
}

/* Custom Isotope filter layout */

.grid-sizer,
.js-grid-item {
    width: 30%;
    margin: 12px;
}
@media (max-width: 992px) {
    .grid-sizer,
    .js-grid-item {
        width: 46%;
        margin: 6px;
    }
    .flex-center-spaced {
        justify-content:center;
        flex-direction: column;
        align-items: center;
    }
}
.flexwrap {
    padding: 16px 32px;
    min-width: 250px;
    max-width: 400px;
}
.flex-evenly {
    display: flex;
    justify-content: space-evenly;
}
.flex-centered {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.flex-center-spaced {
    display: flex;
    justify-content: space-around;
}
.flex-story-container {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: stretch;
}
@media (max-width: 950px) {
    .flex-story-container {
        flex-direction: column;
    }
}
.flex-story-photo {
    flex: 1;
    background-position: center;
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
}
.flex-story-text {
    flex: 2;
    padding: 0 2%;
    background-color: var(--color-white);
    color: var(--color-black)
}
.infobar {
    width: 100%;
    padding: 1% 0;
    color: var(--color-white);
    background-color: var(--color-black);
}

/* Corner ribbons */

.corner-ribbon {
    width: 150px;
    background: #e43;
    position: absolute;
    top: 15px;
    left: -20px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* Custom ribbon styles */

.corner-ribbon.sticky {
    position: fixed;
}
.corner-ribbon.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

/* Different ribbon positions */

.corner-ribbon.top-left {
    top: 25px;
    left: -50px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.corner-ribbon.top-right {
    top: 15px;
    right: -40px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.corner-ribbon.bottom-left {
    top: auto;
    bottom: 25px;
    left: -50px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.corner-ribbon.bottom-right {
    top: auto;
    right: -40px;
    bottom: 15px;
    left: auto;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* Ribbon colors */

.corner-ribbon.white {
    background: #f0f0f0;
    color: #555;
}
.corner-ribbon.black {
    background: #333;
}
