html {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background: #eee;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
body {
    margin: 0
}
a {
    background: transparent
}
a:active,
a:hover {
    outline: 0
}
a,
.uk-link {
    color: var(--color-black);
    text-decoration: none;
    cursor: pointer
}
a:hover,
.uk-link:hover {
    color: var(--color-black);
    text-decoration: underline;
    text-decoration-color: #ccc;
}
abbr[title] {
    border-bottom: 1px dotted
}
b,
strong {
    font-weight: bold
}
em {
    color: #f0615c
}
ins {
    background: #ffd;
    color: #888888;
    text-decoration: none
}
mark {
    background: #ffd;
    color: #888888
}
q {
    font-style: italic
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -0.5em
}
sub {
    bottom: -0.25em
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle
}
audio,
canvas,
img,
svg,
video {
    max-width: 100%;
    box-sizing: border-box
}
.uk-img-preserve,
.uk-img-preserve audio,
.uk-img-preserve canvas,
.uk-img-preserve img,
.uk-img-preserve svg,
.uk-img-preserve video {
    max-width: none
}
img {
    border: 0
}
svg:not(:root) {
    overflow: hidden
}
blockquote,
figure {
    margin: 0
}
p,
ul,
ol,
dl,
blockquote,
pre,
address,
fieldset,
figure {
    margin: 0 0 25px 0
}
*+p,
*+ul,
*+ol,
*+dl,
*+blockquote,
*+pre,
*+address,
*+fieldset,
*+figure {
    margin-top: 25px
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 25px 0;
    font-weight: 300;
    text-transform: none
}
*+h1,
*+h2,
*+h3,
*+h4,
*+h5,
*+h6 {
    margin-top: 35px
}
h1,
.uk-h1 {
    font-size: 42px;
    line-height: 56px
}
h2,
.uk-h2 {
    font-size: 28px;
    line-height: 36px
}
h3,
.uk-h3 {
    font-size: 22px;
    line-height: 34px
}
h4,
.uk-h4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal
}
h5,
.uk-h5 {
    font-size: 16px;
    line-height: 26px;
    font-weight: normal
}
h6,
.uk-h6 {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal
}
ul,
ol {
    padding-left: 30px
}
ul>li>ul,
ul>li>ol,
ol>li>ol,
ol>li>ul {
    margin: 0
}
dt {
    font-weight: bold
}
dd {
    margin-left: 0
}
hr {
    box-sizing: content-box;
    height: 0;
    margin: 25px 0;
    border: 0;
    border-top: 1px solid #e5e5e5
}
address {
    font-style: normal
}
blockquote {
    padding-left: 0;
    border-left: 0 solid #ddd;
    font-size: 18px;
    line-height: 28px;
    font-style: italic;
    color: #525255;
    text-align: center
}
::-moz-selection {
    background: #fff;
    color: #000;
    text-shadow: none
}
::selection {
    background: #fff;
    color: #000;
    text-shadow: none
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block
}
progress {
    vertical-align: baseline
}
audio:not([controls]) {
    display: none
}
[hidden],
template {
    display: none
}
iframe {
    border: 0
}
@media screen and (max-width:400px) {
    @-ms-viewport {
        width: device-width
    }
}



.tm-navbar {
    position: relative;
    background: #fff;
    box-shadow: 0 3px 8px -4px rgba(0, 0, 0, 0.15);
    z-index: 1
}
.tm-navbar-overlay:not(.uk-active) {
    position: absolute;
    z-index: 1;
    width: 100%
}
.tm-navbar-transparent {
    border-bottom-color: transparent;
    background: transparent;
    box-shadow: none
}
.tm-navbar-transparent .uk-navbar {
    background: none
}


.uk-container {
    box-sizing: border-box;
    max-width: 980px;
    padding: 0 30px
}
@media (min-width:1220px) {
    .uk-container {
        max-width: 1200px;
        padding: 0 40px
    }
}
.uk-container:before,
.uk-container:after {
    content: "";
    display: table
}
.uk-container:after {
    clear: both
}
.uk-container-center {
    margin-left: auto;
    margin-right: auto
}


.uk-navbar {
    background: #fff;
    color: #adadad;
    margin-left: -15px;
    margin-right: -15px
}
.uk-navbar:before,
.uk-navbar:after {
    content: "";
    display: table
}
.uk-navbar:after {
    clear: both
}
.uk-navbar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left
}
.uk-navbar-nav>li {
    float: left;
    position: relative
}
.uk-navbar-nav>li>a {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    height: 80px;
    padding: 0 15px;
    line-height: 80px;
    color: #adadad;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    -webkit-transition: color .05s linear;
    transition: color .05s linear
}
.uk-navbar-nav>li:hover>a,
.uk-navbar-nav>li>a:focus,
.uk-navbar-nav>li.uk-open>a {
    background-color: transparent;
    color: #525255;
    outline: none
}
.uk-navbar-nav>li>a:active {
    background-color: transparent;
    color: #525255
}
.uk-navbar-nav>li.uk-active>a {
    background-color: transparent;
    color: #525255
}
.uk-navbar-nav .uk-navbar-nav-subtitle {
    line-height: 68px
}
.uk-navbar-nav-subtitle>div {
    margin-top: -26px;
    font-size: 10px;
    line-height: 12px
}
.uk-navbar-content,
.uk-navbar-brand,
.uk-navbar-toggle {
    box-sizing: border-box;
    display: block;
    height: 80px;
    padding: 0 15px;
    float: left
}
.uk-navbar-content:before,
.uk-navbar-brand:before,
.uk-navbar-toggle:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle
}
.uk-navbar-content+.uk-navbar-content:not(.uk-navbar-center) {
    padding-left: 0
}
.uk-navbar-content>a:not([class]) {
    color: #adadad
}
.uk-navbar-content>a:not([class]):hover {
    color: #888888
}
.uk-navbar-brand {
    font-size: 20px;
    color: #525255;
    text-decoration: none
}
.uk-navbar-brand:hover,
.uk-navbar-brand:focus {
    color: #888888;
    text-decoration: none;
    outline: none
}
.uk-navbar-toggle {
    font-size: 20px;
    color: #888888;
    text-decoration: none
}
.uk-navbar-toggle:hover,
.uk-navbar-toggle:focus {
    color: #888888;
    text-decoration: none;
    outline: none
}
.uk-navbar-toggle:after {
    content: "";
    font-family: FontAwesome;
    vertical-align: middle
}
.uk-navbar-toggle-alt:after {
    content: "\f002"
}
.uk-navbar-center {
    float: none;
    text-align: center;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto
}
.uk-navbar-flip {
    float: right
}
.uk-navbar-toggle:after {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("/files/navbar-toggle.svg") 0 0 no-repeat;
    line-height: 20px
}


.uk-block {
    position: relative;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 50px
}
@media (min-width:768px) {
    .uk-block {
        padding-top: 20px;
        padding-bottom: 50px
    }
}
.uk-block:before,
.uk-block:after {
    content: "";
    display: table
}
.uk-block:after {
    clear: both
}
.uk-block>:last-child {
    margin-bottom: 0
}


.uk-tab {
    margin: 0;
    padding: 0;
    list-style: none;
}
.uk-tab:before,
.uk-tab:after {
    content: "";
    display: table
}
.uk-tab:after {
    clear: both
}
.uk-tab>li {
    margin-bottom: -1px;
    float: left;
    position: relative
}
.uk-tab>li>a {
    display: block;
    padding: 15px 14px 15px 14px;
    border: 1px solid transparent;
    border-bottom-width: 0;
    color: rgba(55, 55, 55, 0.5);
    text-decoration: none;
    position: relative;
    border-width: 0 !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: color .05s linear;
    transition: color .05s linear
}
.uk-tab>li>a:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px
}
.uk-tab>li:nth-child(n+2)>a {
    margin-left: 15px
}
.uk-tab>li>a:hover,
.uk-tab>li>a:focus,
.uk-tab>li.uk-open>a {
    border-color: transparent;
    background: transparent;
    color: #555;
    outline: none
}
.uk-tab>li>a:hover:after,
.uk-tab>li>a:focus:after,
.uk-tab>li.uk-open>a:after {
    background: transparent
}
.uk-tab>li:not(.uk-active)>a:hover,
.uk-tab>li:not(.uk-active)>a:focus,
.uk-tab>li.uk-open:not(.uk-active)>a {
    margin-bottom: 1px;
    padding-bottom: 14px
}
.uk-tab>li.uk-active>a {
    border-color: #555;
    border-bottom-color: transparent;
    background: transparent;
    color: #555
}
.uk-tab>li.uk-active>a:after {
    background: #555
}
.uk-tab>li.uk-disabled>a {
    color: #adadad;
    cursor: text
}
.uk-tab>li.uk-disabled>a:after {
    background: transparent
}
.uk-tab>li.uk-disabled>a:hover,
.uk-tab>li.uk-disabled>a:focus,
.uk-tab>li.uk-disabled.uk-active>a {
    background: none;
    border-color: transparent
}
.uk-tab-flip>li {
    float: right
}
.uk-tab-flip>li:nth-child(n+2)>a {
    margin-left: 0;
    margin-right: 15px
}
.uk-tab>li.uk-tab-responsive>a {
    margin-left: 0;
    margin-right: 0
}
.uk-tab-responsive>a:before {
    content: "\f0c9\00a0";
    font-family: FontAwesome
}
.uk-tab-center {
    border-bottom: 1px solid rgba(200, 200, 200, 1)
}
.uk-tab-center-bottom {
    border-bottom: none;
    border-top: 1px solid #e5e5e5
}
.uk-tab-center:before,
.uk-tab-center:after {
    content: "";
    display: table
}
.uk-tab-center:after {
    clear: both
}
.uk-tab-center .uk-tab {
    position: relative;
    right: 50%;
    border: none;
    float: right
}
.uk-tab-center .uk-tab>li {
    position: relative;
    right: -50%
}
.uk-tab-center .uk-tab>li>a {
    text-align: center
}
.uk-tab-bottom {
    border-top: 1px solid #e5e5e5;
    border-bottom: none
}
.uk-tab-bottom>li {
    margin-top: -1px;
    margin-bottom: 0
}
.uk-tab-bottom>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-width: 1px;
    border-top-width: 0
}
.uk-tab-bottom>li:not(.uk-active)>a:hover,
.uk-tab-bottom>li:not(.uk-active)>a:focus,
.uk-tab-bottom>li.uk-open:not(.uk-active)>a {
    margin-bottom: 0;
    margin-top: 1px;
    padding-bottom: 15px;
    padding-top: 14px
}
.uk-tab-bottom>li.uk-active>a {
    border-top-color: transparent;
    border-bottom-color: #489be0
}

